{% assign quantity = product.selected_or_first_available_variant.inventory_quantity %}
{% assign inventory_management = product.selected_or_first_available_variant.inventory_management %}

<a href="{{ product.url | within: collection }}" class="product">
    {% if quantity < 10 and inventory_management == "shopify" %}
      <span class="product__inventory">
        <span class="product__inventory-number">{{ quantity }}</span>
        <span class="product__inventory-text">left</span>
      </span>
    {% endif %}
    {% if product.featured_image != blank %}
        <div class="product__image">
            {% include 'responsive-image' with
                image: product.featured_image,
                max_width: 480,
                max_height: 480
            %}
        </div>
    {% endif %}
    <div class="product__bottom-container">
        <p class="product__title">{{ product.title | escape }}</p>
        <span class="product__price">
        {% if product.compare_at_price > product.price %}
            {% if product.price_varies %}
                {%- assign sale_price = product.price | money -%}
                {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
                {{ 'products.product.on_sale' | t }}
                {{ product.price | money }}
            {% endif %}
        {% else %}
            {% if product.price_varies %}
                {%- assign price = product.price | money -%}
                {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
                {{ product.price | money }}
            {% endif %}
        {% endif %}
      </span>
    </div>
</a>