<div class="contact  container">
    <h1 class="contact__title">{{ section.settings.title }}</h1>
    <p class="contact__description">{{ section.settings.description }}</p>

    {% form 'contact', class: "contact__form" %}

        {% if form.posted_successfully? %}
            <div class="contact__submission-message  contact__submission-message--success">
                <p>{{ 'contact.form.post_success' | t }}</p>
            </div>
        {% elsif form.errors %}
            <div class="contact__submission-message  contact__submission-message--errors">
                <p>{{ 'contact.form.error' | t }}</p>
            </div>
        {% endif %}
        
        <div class="contact__form-field  contact__form-field--half">
            <label class="contact__form-label" for="ContactFormName">{{ 'contact.form.name' | t }}*</label>
            <input class="contact__form-input"
                    type="text"
                    name="contact[name]"
                    id="ContactFormName"
                    placeholder="{{ 'contact.form.namePlaceholder' | t }}"
                    required
                >
            
        </div>
        <div class="contact__form-field  contact__form-field--half">
            <label class="contact__form-label" for="ContactFormEmail">{{ 'contact.form.email' | t }}*</label>
            <input class="contact__form-input"
                    type="email"
                    name="contact[email]"
                    id="ContactFormEmail"
                    placeholder="{{ 'contact.form.emailPlaceholder' | t }}"
                    spellcheck="false"
                    autocomplete="off"
                    autocapitalize="off"
                    required
                >
            
        </div>
        
        <div class="contact__form-field">
            <label class="contact__form-label" for="ContactFormSubject">{{ 'contact.form.subject' | t }}</label>
            <input class="contact__form-input"
                   type="text"
                   name="contact[subject]"
                   id="ContactFormSubject"
                   placeholder="{{ 'contact.form.subjectPlaceholder' | t }}">
            
        </div>

        <div class="contact__form-field">
            <label class="contact__form-label" for="ContactFormMessage">{{ 'contact.form.message' | t }}*</label>
            <textarea class="contact__form-textarea" 
                        rows="10"
                        name="contact[body]"
                        id="ContactFormMessage"
                        placeholder="{{ 'contact.form.messagePlaceholder' | t }}"
                        required
                      ></textarea>
        </div>

        {% assign button_text = 'contact.form.send' | t %}

        {% include 'button', with class: "contact__form-button", text: button_text, is_submit_button: true %}

    {% endform %}
</div>

{% schema %}
  {
    "name": "Contact page",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Main text"
        }
    ]
  }
{% endschema %}
