<div class="cta-cards  container" data-section-id="{{ section.id }}">
    {% for block in section.blocks %}
      <div class="card">
        <img class="card__image" src="{{ block.settings.image | img_url: "800x", scale: 2 }}" />
        <div class="card__bottom">
          <h2 class="card__title">{{ block.settings.title }}</h2>
          <p class="card__description">{{ block.settings.description }}</p>
          {% include 'button', with text: block.settings.button_text, link: block.settings.button_link, is_page_link: true %}
        </div>
      </div>
    {% endfor %}
</div>

<style>
  :root {
    --color-cta-background: {{ section.settings.background_color }};
  }
</style>

{% schema %}
  {
    "name": "Call to Action Cards",
    "settings": [
      {
        "type": "color",
        "id": "background_color",
        "label": "Background color"
      }
    ],
    "blocks": [
      {
        "type": "card",
        "name": "Card",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Card image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Card title"
          },
          {
            "type": "text",
            "id": "description",
            "label": "Card description"
          },
          {
            "type": "page",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Call to Action Cards",
        "category": "Image"
      }
    ]
  }
{% endschema %}