<div class="events  container">
    <h1 class="events__title">{{ section.settings.title }}</h1>

    {% for block in section.blocks %}
      <div class="event  events__event">
          <div class="event__first-container">
            {% include 'responsive-image' with
                image: block.settings.image,
                max_width: 400,
                max_height: 400,
                wrapper_class: "event__image"
            %}
            <div class="event__details-wrapper">
              <h4 class="event__heading">Date & Time</h4>
              <div class="event__date  rte">
                {{ block.settings.date }}
              </div>
              <h4 class="event__heading">Location</h4>
              <div class="event__location  rte">
                {{ block.settings.location }}
              </div>
            </div>
          </div>
          <div class="event__second-container">
            <h3 class="event__title">{{ block.settings.title }}</h3>
            <div class="event__content  rte">
              {{ block.settings.content }}
            </div>
            {% if block.settings.cta_text != '' and block.settings.cta_link != '' %}
              {% include 'button', with class: "event__button", text: block.settings.cta_text, link: block.settings.cta_link %}
            {% endif %}
          </div>
      </div>
      {% if forloop.last != true %}
        {% include 'separator' with class: "events__separator" %}
      {% endif %}
    {% endfor %}
</div>

<style>
  :root {
    --color-event-button-background: {{ section.settings.button_background_color }};
    --color-event-button-background-hover: {{ section.settings.button_background_color_hover }};
    --color-event-button-text: {{ section.settings.button_text_color }};
    --color-event-button-text-hover: {{ section.settings.button_text_color_hover }};
  }
</style>

{% schema %}
  {
    "name": "Events Page",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title"
        }
    ],
    "blocks": [
      {
        "type": "event",
        "name": "Event",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Event image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Event title"
          },
            {
            "type": "textarea",
            "id": "date",
            "label": "Date and time"
          },
          {
            "type": "textarea",
            "id": "location",
            "label": "Event location"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Event description"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA button text"
          },
          {
            "type": "text",
            "id": "cta_link",
            "label": "CTA button link"
          }
        ]
      }
    ]
  }
{% endschema %}
