<footer class="footer container">
    {% include 'separator', with class: "footer__separator", size: "small" %}
    {%- assign footer_linklist = section.settings.footer_linklist -%}
    {% if linklists[footer_linklist].links.size > 0 %}
        <ul class="footer__menu">
            {% for link in linklists[footer_linklist].links %}
                <li class="footer__menu-list-item"><a class="footer__menu-link  {% if link.active %}  footer__menu-link--active{% endif %}" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

  {%- assign social_accounts = 'Facebook, Instagram, Pinterest,' | split: ', ' -%}
  <ul class="footer__social-list">
    {% for social in social_accounts %}
      {%- assign social_handle = social | handleize -%}
      {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
      {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

      {% if settings[social_link] != blank %}
        <li class="footer__social-list-item">
          <a class="footer__social-list-item-link  footer__social-list-item-link--{{ social_handle }}" href="{{ settings[social_link] }}" rel="noopener noreferrer" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
            {% include social_icon %}
            <span class="icon-fallback-text">{{ social }}</span>
          </a>
        </li>
      {% endif %}

    {% endfor %}
  </ul>
    
  <div class="footer__logo-container">
    <a class="footer__logo-link" href="/">
      <img class="footer__logo" src="{{ section.settings.logo | img_url: '600x'  }}" />
    </a>
  </div>
    
    <p class="footer__attribution">{{ 'layout.footer.attribution' | t }}</p>
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo"
      }
    ]
  }

{% endschema %}
