<div class="product-page  container" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <div class="product-page__images">
    {% for image in product.images %}
      {% capture wrapper_class %}
        {%- unless featured_image == image -%}
          hide
        {%- endunless -%}
      {% endcapture %}

      {% include 'responsive-image' with
        image: image,
        max_width: 700,
        max_height: 800,
        image_attributes: "data-product-featured-image",
        wrapper_class: wrapper_class,
        wrapper_attributes: "data-product-image-wrapper",
      %}
    {% endfor %}

    {% if product.images.size > 1 %}
      <ul>
        {% for image in product.images %}
          <li>
            <a href="{{ image.src | img_url: '480x480' }}" data-thumbnail-id="{{ image.id }}" data-product-single-thumbnail>
              <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '160x160' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  </div>

  <div class="product-page__details">
    <h1 class="product-page__title">{{ product.title }}</h1>

    <div class="product-page__description">
      {{ product.description }}
    </div>

    <form class="product-page__cart-form" action="/cart/add" method="post" enctype="multipart/form-data">
      {% unless product.has_only_default_variant %}
        {% for option in product.options_with_values %}
          <div class="selector-wrapper js">
            <label for="SingleOptionSelector-{{ forloop.index0 }}">
              {{ option.name }}
            </label>

            <select
              id="SingleOptionSelector-{{ forloop.index0 }}"
              data-single-option-selector
              data-index="option{{ option.position }}">
              {% for value in option.values %}
                <option
                  value="{{ value | escape }}"
                  {% if option.selected_value == value %}selected="selected"{% endif %}>
                    {{ value }}
                </option>
              {% endfor %}
            </select>
          </div>
        {% endfor %}
      {% endunless %}

      <div class="product-page__price-wrapper" data-price-wrapper>
        <span class="product-page__price" data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s class="product-page__price-comparison" data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </div>

      <select class="product-page__variant-list  no-js" name="id" data-product-select>
        {% for variant in product.variants %}
          <option
            class="product-page__variant-option"
            {% if variant == current_variant %}selected="selected"{% endif %}
            {% unless variant.available %}disabled="disabled"{% endunless %}
            value="{{ variant.id }}">
              {{ variant.title }}
          </option>
        {% endfor %}
      </select>

      {% include 'quantity-controls', with class: 'product-page__quantity-wrapper' %}

      {% if current_variant.available %}
        {% assign button_text = 'products.product.add_to_cart' | t %}
        {% assign is_button_disabled = false %}
      {% else %}
        {% assign button_text = 'products.product.sold_out' | t %}
        {% assign is_button_disabled = true %}
      {% endif %}


      {% include 'button', with text: button_text, is_submit_button: true, is_disabled: is_button_disabled %}
    </form>


  </div>



  {% unless product == empty %}
    <script type="application/json" data-product-json>
      {{ product | json }}
    </script>
  {% endunless %}
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
