<div class="image-and-tags  container" data-section-id="{{ section.id }}">
  
  <h2 class="image-and-tags__title  section-title">{{ section.settings.title }}</h2>

    {% assign count = 0 %}
  
    <div class="image-and-tags__tags">
      {% for block in section.blocks %}
          <span class="tag" style="background-color: {{ section.settings.tag_color }}" {{ block.shopify_attributes }}>
              {{ block.settings.text }}
            </span>
      {% endfor %}
    </div>
  
</div>

{% schema %}
  {
    "name": "Tag list",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "color",
        "id": "tag_color",
        "label": "Tag color"
      }
    ],
    "blocks": [
      {
        "type": "tag",
        "name": "Tag",
        "settings": [
          {
            "id": "text",
            "type": "text",
            "label": "Tag"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Tag list",
        "category": "Text"
      }
    ]
  }
{% endschema %}